::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: rgba(255, 0, 0, 0.226);
}.App {
    text-align: center;
}
.header {
    background-color: white;
    text-align: center;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    border-bottom: 2px solid rgb(214, 214, 214);
}
.header2 {
    display: flex;
    height: 45px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(214, 214, 214);
}
.headerFont {
    font-size: 80%;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.input {
    padding: 0%;
    margin: 0%;
    font-size: 90%;
    height: 50%;
    border-width: 2px;
    border-color: grey;
    background-color: rgb(236, 236, 236);
}
.selector {
    height: 60%;
    font-size: 90%;
    margin: 0px;
    border-width: 1px;
    background-color: rgb(236, 236, 236);
    border-color: grey;
}
.oneLine {
    display: flex;
    min-width: 60px;
}
.oneLine input {
    height: 30px;
}
.viewAll {
    font-size: 90%;
    padding: 0%;
    margin-left: 2%;
}
.m0 {
    margin: 0%;
}
.teacherContainer {
    min-height: 200px;
    padding: 10px;
}
.data {
    text-transform: capitalize;
    width: 100%;
}
.data-week {
    display: flex;
}
.back {
    padding: 0%;
    margin: 4px;
    margin-left: 0px;
    font-size: 60%;
    text-align: center;
    height: 20px;
    width: 50px;
    background-color: #fff;
    outline-width: 0;
    border: none;
    cursor: pointer;
}
.viewType {
    margin-right: 20px !important;
    border: none;
    outline-width: 0;
    font-size: 80%;
    margin: 4px;
}
.viewType option {
    border: none;
    outline-width: 0;
}
.midInput {
    width: 30px;
    height: 8px;
    font-size: 80%;
    border: none;
    outline-width: 0;
    background-color: #eee;
    padding: 10px;
    border-radius: 8px;
}
.backpadding {
    margin-right: 10px;
}
.dayResults {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    text-transform: capitalize;
}
.WeekParent {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.WeekDayParent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 80%;
}
.range{
    min-width: 70px;
}
.task {
    display: flex;
    justify-content: center;
}
.Wday {
    width: 50px;
    height: 45px;
    margin: 14px;
    font-weight: bold;
}
.Wend {
    color: red;
}
.dataContainer {
    margin-right: 8px;
}
@media only screen and (min-width: 495px) {
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: 45px;
        justify-content: center;
        align-items: center;
    }
    .header2 {
        display: flex;
        height: 45px;
        justify-content: space-between;
        align-items: center;
    }
    .input {
        margin-left: 1%;
        height: 65%;
        font-size: 100%;
        width: 72%;
    }
    .headerFont {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100%;
        width: 220px;
        height: 100%;
        justify-content: center;
    }
    .selector {
        height: 100%;
        font-size: 80%;
        width: 99%;
        max-width: 170px;
    }
    .oneLine {
        display: flex;
        width: 90%;
        min-width: 220px;
    }
    .back {
        height: 25px;
        width: 50px;
        font-size: 80%;
        margin-left: 40px;
    }
    .viewType {
        font-size: 100%;
        margin: 4px;
    }
    .midInput {
        width: 30px;
        height: 10px;
        border: none;
        outline-width: 0;
        background-color: #eee;
        padding: 10px;
        border-radius: 8px;
    }
    .WeekDayParent{
        font-size: 100%;
    }
}
