html {
    min-height: 100vh;
}
.teacherParent {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
}
.bigText h2 {
    text-transform: capitalize;
    margin-bottom: 1px;
    margin-top: 1px;
}
.teacherContainer {
    width: 250px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
    border-radius: 18px;
    background: #ffffff;
    box-shadow: 5px 5px 27px #666666, -5px -5px 27px #ffffff;
    cursor: pointer;
}
.teacherContainer:hover {
    background: #000;
    color: #fff;
}
.needPading {
    margin-bottom: 10px;
}
.oneLine input {
    background-color: #ffffff;
    outline-width: 0px;
    padding-left: 50px;
    min-height: 18px;
    border: 1px solid #eee;
    width: 200px;
    border-radius: 18px;
    background: #ffffff;
    box-shadow: inset 5px 5px 16px #e3e3e3, inset -5px -5px 16px #ffffff;
}
.createInside {
    border-radius: 20px;
    border: 1px solid #eee;
    color: black;
    background-color: #fff;
    transform: scale(1);
    position: fixed;
    right: 15px;
    bottom: 15px;
}
.visibleForm,
.hiddenForm {
    position: absolute;
    right: 40%;
    bottom: 40%;
}
.hiddenForm {
    display: none !important;
}
#Form {
    width: 60%;
    height: 60%;
    min-height: 300px;
    min-width: 200px;
    max-width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#Form input {
    outline-width: 0;
    border: none;
    background-color: #eee;
    padding: 10px;
    margin-top: 10px;
    border-radius: 18px;
}
.createInside {
    display: flex;
    align-items: center;
    border-radius: 18px;
    height: 35px;
    background: #ffffff;
    box-shadow: 8px 8px 13px #666666, -8px -8px 13px #ffffff;
    cursor: pointer;
}
.m0 {
    margin: 0%;
}
.w {
    width: 50px;
}
.formButtons {
    margin-top: 10px;
}
@media only screen and (max-width: 900px) {
    .teacherContainer {
        width: 200px;
        max-width: 250px;
        min-width: 200px;
    }
}
@media only screen and (max-height: 732px) {
    #Form {
        font-size: 15px;
    }
    #Form input {
        margin: 0;
        padding: 5px;
        padding-left: 10px;
    }
}
.visibleForm,
#Form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 45%;
    min-width: 300px;
    min-height: 350px;
    background-color: #fff;
    border-radius: 18px;
    background: #ffffff;
    box-shadow: 8px 8px 62px #666666, -8px -8px 62px #ffffff;
}
#Form input {
    width: 200px;
}
.formButton {
    width: 100px;
    margin: 10px;
    padding: 5px;
    color: #fff;
    background-color: #000;
    border-radius: 15px;
    border: none;
    outline-width: 0;
}
.formButton:hover {
    color: #000;
    background-color: #fff;
}
.formButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 495px) {
    .teacherParent {
        flex-direction: column;
        font-size: 13px;
    }
    .teacherContainer {
        width: 80%;
        max-width: 250px;
        min-width: 175px;
    }
    .createInside p {
        display: none;
    }
    .createInside {
        right: 10px;
        bottom: 10px;
        width: 35px;
    }
    .createInside img {
        margin: 0px;
        padding: 0px;
        transform: translateX(-5px);
    }
    .teacherContainer {
        min-height: 100px;
    }
}
